﻿<section class="mainbar" data-ng-controller="event as vm">
    <section class="matter">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="widget wlightblue">
                    <div data-cc-widget-header title="{{vm.title}}">
                    </div>
                    <div class="widget-content">


                        <div class="row">
                            <div class="col-xs-12">

                                <p><strong>Select an event to edit, or create a new event</strong></p>
                                <div class="form-inline">
                                    <div class="form-group">

                                        <select ng-model="vm.selectedEvent" name="events" class="form-control"
                                                ng-change="vm.onSelectEvent()"
                                                ng-options="item as (item.id + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + item.event_name) for item in vm.events">
                                            <option value="" disabled>Select an event</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp; OR &nbsp;&nbsp;
                                    <span class="btn btn-success" ng-click="vm.onCreate()">Create New</span>
                                </div>


                                <div class="dissolve-animation dissolve-fix" ng-show="vm.eventDetails">
                                    <div class="col-xs-12">
                                        <form name="vm.eventForm" ng-submit="vm.onSubmit()" class="m-t-30" novalidate>
                                            <div class="row">

                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="id">ID</label>
                                                        <input type="text" name="id" class="form-control"
                                                               ng-maxlength="10" maxlength="10"
                                                               ng-model="vm.eventDetails.id"
                                                               ng-class="{'has-error': vm.eventForm.$submitted && !vm.eventForm.id.$valid}" required />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input type="text" name="name" class="form-control"
                                                               ng-maxlength="40" maxlength="40"
                                                               ng-model="vm.eventDetails.event_name"
                                                               ng-class="{'has-error': vm.eventForm.$submitted && !vm.eventForm.name.$valid}" required />
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label for="date">Date</label>
                                                            <div class="form-group input-group">

                                                                <input type="text" class="form-control" name="date"
                                                                       uib-datepicker-popup="MM/dd/yy"
                                                                       ng-maxlength="11" maxlength="11"
                                                                       ng-model="vm.eventDetails.timeUtc"
                                                                       is-open="calendarOpened"
                                                                       close-text="Close"
                                                                       datepicker-options="vm.datepickerOpts"
                                                                       alt-input-formats="vm.altInputFormats" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" ng-click="calendarOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <label for="time">Time</label>
                                                                        <uib-timepicker ng-model="vm.eventDetails.timeUtc"
                                                                                        ng-change="vm.changed()"
                                                                                        show-spinners="false"></uib-timepicker>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <div class="col-lg-4">

                                                    <div class="form-group">
                                                        <label for="sports">Sport</label>
                                                        <select class="form-control" name="sport"
                                                                ng-model="vm.eventDetails.event_Sport"
                                                                ng-options="sport.id as sport.id for sport in vm.sports"
                                                                ng-class="{'has-error': vm.eventForm.$submitted && !vm.eventForm.sport.$valid}"
                                                                required>
                                                            <option value="" disabled>Select a sport</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="sports">Venue</label>
                                                        <select class="form-control"
                                                                ng-model="vm.eventDetails.event_Venue"
                                                                ng-options="venue.id as venue.id for venue in vm.venues">
                                                            <option value="" disabled>Select a venue</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="sports">TV</label>
                                                        <select class="form-control"
                                                                ng-model="vm.eventDetails.tV"
                                                                ng-options="tv.id as tv.id for tv in vm.tv">
                                                            <option value="" disabled>Select TV</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-default" type="button" ng-click="vm.onCancel()">Cancel</button>
                                                    <button class="btn btn-danger" ng-show="vm.selectedEvent" type="button" ng-click="vm.onDelete()">Delete</button>
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>



                            </div>


                        </div><!-- /row -->


                    </div>
                    <!--<div class="widget-foot">

                    </div>-->
                </div>
            </div>
        </div>
    </section>
</section>
